@import "../../styles/vars";

.sidebar {
    background-color: $app-white-color;
    border-radius: $app-radius;
    padding: 7px 5px;
    -webkit-box-shadow: $app-shadow;
    box-shadow: $app-shadow;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: show-sidebar .25s forwards;

    .sidebar__item {
        padding: 8px;
        display: flex;
        align-items: center;
        margin: 0 5px;
        border-radius: $app-radius;
        font-size: 17px;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;

        .sidebar__icon {
            font-size: 20px;
        }   
    }

    .sidebar__item.active {
        background-color: $app-background-color;
        cursor: pointer;
    }

    .sidebar__item:hover {
        background-color: $app-hover-color;
        cursor: pointer;
    }
}

.hidden {
    -webkit-animation: hidden-sidebar .25s forwards;
}


@keyframes show-sidebar {
    0% {
        top: 0;
    }
    100% {
        top: 70px;
    }
}

@keyframes hidden-sidebar {
    0% {
        top: 70px;
    }
    100% {
        top: 0;
    }
}