@import "../../styles/vars";

.project {
    background-color: $app-white-color;
    border-radius: $app-radius;
    padding: 15px;
    -webkit-box-shadow: $app-shadow;
    box-shadow: $app-shadow;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;

    .project__header {
        .main__data, .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .main__data {
            cursor: default;

            .person {
                display: flex;
                align-items: center;

                .photo {
                    width: 30px;
                    height: 30px;
                    background-color: $app-background-color;
                    border-radius: $app-radius;
                    margin-right: 10px;
                    cursor: pointer;
                }

                .name {
                    text-decoration: none;
                    color: $app-grey-color;
                    cursor: pointer;
                }

                .name:hover {
                    color: $app-black-color;
                }

                .type {
                    color: $app-grey-color;
                    margin-left: 20px;
                    font-size: 16px;
                    cursor: text;
                }
            }

            .time {
                color: $app-grey-color;
                font-size: 16px;
                cursor: text;
            }
        }

        .heading {
            padding-top: 10px;
            font-size: 20px;
            font-weight: bold;

            .title {
                margin-right: 20px;
            }
        }
    }

    .project__body {
        margin-top: 5px;

        .description {
            font-size: 17px;
        }

        .donates {
            .progress-donates {
                margin: -5px 0 3px 0;
                height: 25px;
                border-radius: $app-radius;
                font-size: 15px;
                color: $app-white-color;
                font-weight: 600;
            }

            .bg-app-blue {
                background-color: $app-blue-color;
            }
    
            .borders {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2px;
    
                p {
                    color: $app-grey-color;
                    margin-bottom: 10px;
                }
            }
        }

        .necessary__staff {
            p.title {
                margin: 0;
                margin-top: 10px;
                font-weight: bold;
                font-size: 17px;
            }
            
            .list__staff {
                padding-left: 20px;
                margin-top: 5px;
                margin-bottom: 15px;

                li {
                    margin-bottom: 7px;
                }
            }
        }
    }

    .project__footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .feedback {
            display: flex;
            align-items: center;

            .feedback__item {
                display: flex;
                align-items: center;
                margin-right: 20px;

                span {
                    margin-top: 2px;
                    font-size: 17px;
                }
            }

            .footer__icon {
                font-size: 22px;
                font-weight: bold;
                margin-right: 5px;
            }
        }

        .share {
            display: flex;
            align-items: center;

            .footer__icon {
                font-size: 23px;
            }
        }
    }
}