@import "./vars";
@import "../components/ListProjects/ProjectItem.module.scss";

.project {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 700px;
    background-color: $app-white-color;
    border-radius: $app-radius;
    padding: 15px;
    -webkit-box-shadow: $app-shadow;
    box-shadow: $app-shadow;

    .project__header {
        .main__data {
            .person {
                .time {
                    margin-left: 20px;
                }
            }

            .dropdown {
                .dropdown__btn {
                    box-shadow: none;
                }
                
                .menu__icon {
                    background-color: $app-white-color;
                    color: $app-grey-color;
                    font-size: 20px;
                }
                
                .delete {
                    color: $app-red-color;
                }
            }
        }
    }

    .project__body {
        .description__open {
            cursor: text;
        }

        .donates, .necessary__staff {
            Button {
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
    }
}